:root {
  --primary: #38cd24;
  --secondary: #ecf32d;
  --sucess: #28a745;
  --info: #17a2b8;
  --warning: #ffc187;
  --danger: #dc3545;
}
body{
  background-color: var(--secondary);
}
#navbar, #foobar{
  background-color: var(--secondary);
}
#content{
  min-height: 300px;
  background-color: white;
}
