:root {
  --primary: #38cd24;
  --secondary: #ecf32d;
}
#navbar, #foobar{
  background-color: var(--secondary);
}
#navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}
#foobar{
  bottom: 0%;
  width: 100%;
}
a.nav-link{
  color: var(--primary);
  background-color: var(--secondary);
}
a.nav-link.active{
  background-color: var(--primary) !important;
  
}
#content-mid{
  min-height: 600px;
  background-color: white;
}
